doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BuffaloFAMbase
        style 
         include ../looks/allen.css
    body 
     section.navbar 
      div.box 
       div.logo 
        img(src="https://cdn.freebiesupply.com/images/large/2x/buffalo-bills-logo-transparent.png", alt="Check your connection")
       div.links
        a(href="/home/subscribe") Home
        a(href="/home/subscribe") News
        a(href="/home/subscribe") Highlights
        a(href="/home/subscribe") Game Pass
        a(href="/home/subscribe") Subscribe
     section.landingpage
      div.mainpara
       p BILLS 
       div.billsmafia 
        | ipsum dolor sit, amet consectetur adipisicing elit. Earum sit modi inventore consequuntur magni ex et maiores, amet recusandae perferendis soluta impedit, esse rem doloremque vitae beatae officia expedita nemo reprehenderit aperiam sunt. 
         
      div.mainimage 
       img(src='../public/mm.png', alt="") 
     section.news   
      h1 NEWS 
      div.newsbox 
       .flip-box
        .flip-box-inner
         .flip-box-front
          img(src='https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop_2x/f_png/bills/z9cmexvoybg3kkjlgpmh.png' alt='Paris' )
         .flip-box-back
           h2 Paris
           p  ipsum dolor sit, amet consectetur adipisicing elit. Earum sit modi inventore consequuntur magni ex et maiores, amet recusandae perferendis soluta impedit, esse rem doloremque vitae beatae officia expedita nemo reprehenderit aperiam sunt.
       .flip-box
        .flip-box-inner
         .flip-box-front
          img(src='https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop_2x/f_png/bills/bmugitscuzbgedf6pay2.png' alt='Paris')
         .flip-box-back
           h2 Paris
           p ipsum dolor sit, amet consectetur adipisicing elit. Earum sit modi inventore consequuntur magni ex et maiores, amet recusandae perferendis soluta impedit, esse rem doloremque vitae beatae officia expedita nemo reprehenderit aperiam sunt.
       .flip-box
        .flip-box-inner
         .flip-box-front
          img(src='https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop_2x/f_png/bills/z9cmexvoybg3kkjlgpmh.png' alt='Paris' )
         .flip-box-back
           h2 Paris
           p ipsum dolor sit, amet consectetur adipisicing elit. Earum sit modi inventore consequuntur magni ex et maiores, amet recusandae perferendis soluta impedit, esse rem doloremque vitae beatae officia expedita nemo reprehenderit aperiam sunt.
       .flip-box
        .flip-box-inner
         .flip-box-front
          img(src='https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop_2x/f_png/bills/ock0dr3qc3ody8cx9ju8.png' alt='Paris')
         .flip-box-back
           h2 Paris
           p ipsum dolor sit, amet consectetur adipisicing elit. Earum sit modi inventore consequuntur magni ex et maiores, amet recusandae perferendis soluta impedit, esse rem doloremque vitae beatae officia expedita nemo reprehenderit aperiam sunt.
       div.game#btnbox     
        a(href="/naman") For More>>
     section.highlights-gamepass
          
           div.highlightbox 
             #h1 HIGHLIGHTS
             div.host 
               div.highlink 
                ul 
                 li 
                  a(href="/beattlejouice") VS Kansas City Chiefs(NFL divisonal  round) 
                 li 
                  a(href="/beattlejouice") VS New England Patriots(NFL Wild-Card  round) 
                 li 
                  a(href="/beattlejouice") VS Miami Dolophins(Week-12) 
                 li 
                  a(href="/beattlejouice") VS Baltimore Ravens(Week-11) 
                 li 
                  a(href="/beattlejouice") VS Cleveland Browns(Week-10) 
                 li 
                  a(href="/beattlejouice") VS New-York Giants(Week-9) 
                 li 
                  a(href="/beattlejouice") VS Green-Bay Packers(Week-8) 
                 li 
                  a(href="/beattlejouice") VS Denver Broncos(Week-7) 
                 li 
                  a(href="/beattlejouice") VS Indianapolis Colts(Week-6) 
                 li 
                  a(href="/beattlejouice") VS Cincinati Bengals(Week-5) 
                 li 
                  a(href="/beattlejouice") VS LA-Chargers(Week-4) 
                 li 
                  a(href="/beattlejouice") VS Tampa-Bay Bucceners(Week-3) 
                 li 
                  a(href="/beattlejouice") VS Tennesse Titans(Week-2) 
                 li 
                  a(href="/beattlejouice") VS San-Fransico 49ers(Week-1) 
               div.highimage 
                img(src="https://i.ytimg.com/an_webp/n1dp2ZKi0cc/mqdefault_6s.webp?du=3000&sqp=CJqL5I8G&rs=AOn4CLCaLhHiznac4XzEJEM4elGkAMShdw", alt="Sorry,Please check your connection")   
                img(src="https://i.ytimg.com/an_webp/n1dp2ZKi0cc/mqdefault_6s.webp?du=3000&sqp=CJqL5I8G&rs=AOn4CLCaLhHiznac4XzEJEM4elGkAMShdw", alt="Sorry,Please check your connection")   
                img(src="https://i.ytimg.com/an_webp/n1dp2ZKi0cc/mqdefault_6s.webp?du=3000&sqp=CJqL5I8G&rs=AOn4CLCaLhHiznac4XzEJEM4elGkAMShdw", alt="Sorry,Please check your connection")   
                img(src="https://i.ytimg.com/an_webp/n1dp2ZKi0cc/mqdefault_6s.webp?du=3000&sqp=CJqL5I8G&rs=AOn4CLCaLhHiznac4XzEJEM4elGkAMShdw", alt="Sorry,Please check your connection")   
                img(src="https://i.ytimg.com/an_webp/n1dp2ZKi0cc/mqdefault_6s.webp?du=3000&sqp=CJqL5I8G&rs=AOn4CLCaLhHiznac4XzEJEM4elGkAMShdw", alt="Sorry,Please check your connection")   
                img(src="https://i.ytimg.com/an_webp/n1dp2ZKi0cc/mqdefault_6s.webp?du=3000&sqp=CJqL5I8G&rs=AOn4CLCaLhHiznac4XzEJEM4elGkAMShdw", alt="Sorry,Please check your connection")   
           p#h1 GAME-PASS
           div.gamebox 
              
                div.game 
                  img(src="https://static.www.nfl.com/image/private/t_q-best/league/e4cc7kfy09r1yrbw2aez" )
                  a(href="") Book Now >>
               
     section.socialmedia 
      h1#first FOLLOW US ON SOACIAL
      div.socialbox 
       div.link 
        a(href="/madhur") 
         h3 FACEBOOK 
         P Buffalo Bills 
       div.link 
        a(href="/madhur") 
         h3 INSTAGRAM
         P  Bills 
       div.link 
        a(href="/madhur") 
         h3 SNAPCHAT
         P officialBills 
       div.link 
        a(href="/madhur") 
         h3 TIK TOK 
         P Bills 
       div.link 
        a(href="/madhur") 
         h3 TWITTER
         P Bills 
       div.link  
        a(href="/madhur") 
         h3 YOUTUBE
         P  Bills on youtube